
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Libre+Baskerville&display=swap');
@import url('components/container.css');
@import url('components/banner.css');
@import url('components/card.css');
@import url('components/button.css');

body {
	margin: 0;
	font-family: 'Kanit', sans-serif;
	background-color: #3276BD;
	font-size: 22px;
	color: orange;

}

a{
	font-family: 'Libre Baskerville',serif;
	text-decoration: none;
	text-align: center;
	font-size: 30px;

